button {
	margin: 5px;
}

input[type='checkbox'] {
	margin-left: 1em;
}

.text-item-buttons {
	display: flex;
}

.name-text {
	margin-top: 2em;
	width: 50%;
}

.delimiter-text {
	width: 50px;
}

.group-buttons {
	float: right;
}