<p-dialog header="Add Project" [(visible)]="isDisplayed" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
		[baseZIndex]="10000">
		<input type="text" pInputText [(ngModel)]="name" />
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="onYesClick()" label="OK"></button>
            <button type="button" pButton icon="pi pi-close" (click)="onNoClick()" label="Cancel" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>