<app-edit-text-item #editDialog [(isDisplayed)]="isDialogShown" [(item)]="selectedItem" (dialogClosed)="onDialogClosed($event)"></app-edit-text-item>
<div *ngIf="group">
	<input class="name-text" type="text" pInputText [(ngModel)]="group.name" />
	<input type="checkbox" [(ngModel)]="group.isExclusive" />Exclusive (one selected at a time)
	<div class="text-item-buttons">
		<button *ngFor="let item of group.items" pButton type="button" icon="pi pi-pencil" label="{{item.name}}" (click)="onTextItemEdit(item)"></button>
		<button pButton type="button" icon="pi pi-plus" (click)="onTextItemAdd()"></button>
	</div>
	Delimiter: <input class="delimiter-text" type="text" pInputText [(ngModel)]="group.delimiter" />
	<input type="checkbox" [(ngModel)]="group.isOnNewLine" />Show group on a new line
</div>
<div class="group-buttons">
	<button pButton type="button" icon="pi pi-arrow-up" [disabled]="isFirst" (click)="onGroupMoveUp()"></button>
	<button pButton type="button" icon="pi pi-arrow-down" [disabled]="isLast" (click)="onGroupMoveDown()"></button>
	<button pButton type="button" icon="pi pi-plus" (click)="onGroupAdd()"></button>
	<button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="onGroupDelete()"></button>
</div>