button {
	margin: 5px;
}

.group-name {
	display: inline-block;
	margin-top: 1.5em;
}

.text-item-buttons {
	display: flex;
	flex-wrap: wrap;
}

.is-exclusive {
	display: inline-block;
	margin-left: 5px;
	color: #777777;
}