<div *ngIf="group">
	<div class="group-name">{{ group.name }}</div>
	<div class="is-exclusive" *ngIf="group.isExclusive">(Exclusive)</div>
	<div class="text-item-buttons">
		<div *ngFor="let item of group.items">
			<button pButton type="button" *ngIf="item.isSelected" class="ui-button-rounded ui-button-warning" label="{{item.name}}" (click)="onTextItemClick(item)"></button>
			<button pButton type="button" *ngIf="!item.isSelected" class="ui-button-rounded ui-button-secondary" label="{{item.name}}" (click)="onTextItemClick(item)"></button>
		</div>
	</div>
</div>