<app-edit-text-item #editDialog [(isDisplayed)]="isDialogShown" [item]="selectedItem" (dialogClosed)="onDialogClosed($event)"></app-edit-text-item>
<div *ngIf="group && !isEditing">
	<div class="group-name">{{ group.name }}</div>
	<div *ngIf="group.isExclusive" class="is-exclusive">(Exclusive)</div>
	<div class="text-item-buttons">
		<div *ngFor="let item of group.items">
			<button pButton type="button" *ngIf="item.isSelected" class="ui-button-rounded ui-button-warning" label="{{item.name}}" (click)="onTextItemClick(item)"></button>
			<button pButton type="button" *ngIf="!item.isSelected" class="ui-button-rounded ui-button-secondary" label="{{item.name}}" (click)="onTextItemClick(item)"></button>
		</div>
	</div>
</div>
<div *ngIf="group && isEditing">
	<input class="name-text" type="text" pInputText [(ngModel)]="group.name" />
	<input type="checkbox" [(ngModel)]="group.isExclusive" />Exclusive
	<div class="text-item-buttons">
		<button *ngFor="let item of group.items" pButton type="button" icon="pi pi-pencil" label="{{item.name}}" (click)="onTextItemEdit(item)"></button>
		<button pButton type="button" icon="pi pi-plus" (click)="onTextItemAdd()"></button>
	</div>
	Delimiter: <input class="delimiter-text" type="text" pInputText [(ngModel)]="group.delimiter" />
	<input type="checkbox" [(ngModel)]="group.isOnNewLine" />Show Group on New Line
</div>